In [1]:
import pandas as pd
import numpy as np
import re
import math

df = pd.read_csv('dogs_data.csv')

# Inspection

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439 entries, 0 to 438
Data columns (total 37 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   name                             439 non-null    object
 1   href                             439 non-null    object
 2   ADAPTABILITY                     439 non-null    int64
 3   Adapts Well To Apartment Living  439 non-null    int64
 4   Good For Novice Owners           439 non-null    int64
 5   Sensitivity Level                439 non-null    int64
 6   Tolerates Being Alone            439 non-null    int64
 7   Tolerates Cold Weather           439 non-null    int64
 8   Tolerates Hot Weather            439 non-null    int64
 9   ALL AROUND FRIENDLINESS          439 non-null    int64
 10  Affectionate With Family         439 non-null    int64
 11  Kid-Friendly                     439 non-null    int64
 12  Dog Friendly                     439 non-null    int64
 13  Friendly Toward Strangers        439 non-null    int64
 14  HEALTH AND GROOMING NEEDS        439 non-null    int64
 15  Amount Of Shedding               439 non-null    int64
 16  Drooling Potential               436 non-null    float64
 17  Easy To Groom                    439 non-null    int64
 18  General Health                   439 non-null    int64
 19  Potential For Weight Gain        438 non-null    float64
 20  Size                             439 non-null    int64
 21  TRAINABILITY                     439 non-null    int64
 22  Easy To Train                    439 non-null    int64
 23  Intelligence                     439 non-null    int64
 24  Potential For Mouthiness         438 non-null    float64
 25  Prey Drive                       438 non-null    float64
 26  Tendency To Bark Or Howl         438 non-null    float64
 27  Wanderlust Potential             439 non-null    int64
 28  PHYSICAL NEEDS                   439 non-null    int64
 29  Energy Level                     439 non-null    int64
 30  Intensity                        439 non-null    int64
 31  Exercise Needs                   439 non-null    int64
 32  Potential For Playfulness        439 non-null    int64
 33  Dog Breed Group                  439 non-null    object
 34  Height                           438 non-null    object
 35  Weight                           433 non-null    object
 36  Life Span                        439 non-null    object
dtypes: float64(5), int64(26), object(6)
memory usage: 127.0+ KB

In [3]:
df.head()

,name,href,ADAPTABILITY,Adapts Well To Apartment Living,Good For Novice Owners,Sensitivity Level,Tolerates Being Alone,Tolerates Cold Weather,Tolerates Hot Weather,ALL AROUND FRIENDLINESS,...,Wanderlust Potential,PHYSICAL NEEDS,Energy Level,Intensity,Exercise Needs,Potential For Playfulness,Dog Breed Group,Height,Weight,Life Span
0,Afador,https://dogtime.com/dog-breeds/afador,2,1,1,3,3,4,2,3,...,4,4,4,4,4,3,Mixed Breed Dogs,20 to 29 inches,50 to 75 pounds,10 to 12 years
1,Afaird,https://dogtime.com/dog-breeds/afaird-dog-bree...,3,2,2,3,2,4,2,4,...,4,5,5,4,5,5,Mixed Breed Dogs,22 to 24 inches,60 to 80 lbs,10 to 12 years
2,Affen Border Terrier,https://dogtime.com/dog-breeds/affen-border-te...,3,3,3,3,4,3,2,4,...,4,4,5,3,4,5,Mixed Breed Dogs,10 to 16 inches,7 to 14 lbs,10 to 14 years
3,Affen Spaniel,https://dogtime.com/dog-breeds/affen-spaniel,3,4,4,2,3,3,2,5,...,2,3,3,2,3,5,Mixed Breed Dogs,10 to 20 inches,15 to 20 lbs,10 to 15 years
4,Affen Tzu,https://dogtime.com/dog-breeds/affen-tzu-dog-b...,3,5,3,4,1,2,1,5,...,3,4,5,4,2,4,Mixed Breed Dogs,9 to 11 inches,8 to 13lbs,13 to 15 years

In [4]:
df['Dog Breed Group'].value_counts()

Mixed Breed Dogs    148
Working Dogs         69
Companion Dogs       49
Hound Dogs           44
Sporting Dogs        42
Herding Dogs         40
Terrier Dogs         32
Hybrid Dogs          15
Name: Dog Breed Group, dtype: int64

In [5]:
df['Life Span'].value_counts().to_dict()

{'12 to 15 years': 84,
 '10 to 12 years': 59,
 '12 to 14 years': 36,
 '10 to 14 years': 36,
 '10 to 15 years': 30,
 '10 to 13 years': 17,
 '12 to 16 years': 16,
 '12 to 15 years ': 12,
 '8 to 12 years': 11,
 '13 to 15 years': 10,
 '10 to 14 years ': 8,
 '11 to 13 years': 7,
 '11 to 14 years': 6,
 '10 to 12 years ': 5,
 '10 to 16 years': 5,
 '9 to 15 years': 5,
 '10 to 15 years ': 4,
 '11 to 15 years': 4,
 '13 to 16 years': 4,
 '8 to 10 years': 4,
 '9 to 12 years': 4,
 '8 to 11 years': 4,
 '12 to 18 years': 3,
 '13 to 14 years': 3,
 '9 to 13 years': 3,
 '12 to 15 years. ': 3,
 '10 to 18 years': 3,
 '13 to 18 years': 3,
 '12 to 13 years': 3,
 'Starts at 14 years': 2,
 '14 to 17 years': 2,
 '14 to 15 years': 2,
 '14 to 20 years': 2,
 '12 to 14 years ': 2,
 '6 to 10 years': 2,
 '14 to 16 years': 2,
 '8 to 13 years': 1,
 '12 to 16 years ': 1,
 '12to 15 years': 1,
 '10 to 11 years ': 1,
 '6 to 12 years': 1,
 '9 to 14 years': 1,
 '8 to 15 years': 1,
 '12 to 13 years ': 1,
 'Starts at 10 years': 1,
 '6 to 8 years': 1,
 '15 to 17 years': 1,
 '10-12 years': 1,
 '13 to 17+ years ': 1,
 '9 to 14 years ': 1,
 '11 to 16 years ': 1,
 '12 - 15 years': 1,
 '11 to 13 Years': 1,
 '8 to 14 years': 1,
 '10 to 11 years': 1,
 '7 to 9 years': 1,
 '7 to 10 years': 1,
 '10 to 12 years.': 1,
 '11 to 14 years old': 1,
 '12 to 14 Years': 1,
 'Up to 15 years': 1,
 '12 to 12 years': 1,
 '10 to 13': 1,
 '10 to 14 years. ': 1,
 '11 to 20 years': 1,
 '12 to 18 years. Tiny Bernedoodles tend to live longer than standard.': 1,
 '12 to 17 years': 1,
 '9 to 11 years ': 1,
 '8 to 12 years. ': 1}

In [6]:
df['Height'].value_counts().to_dict()

{'12 to 15 inches': 8,
 '20 to 24 inches': 6,
 '24 to 28 inches': 6,
 '9 to 10 inches tall at the shoulder': 5,
 '22 to 28 inches': 5,
 '17 to 20 inches tall at the shoulder': 5,
 '23 to 27 inches tall at the shoulder': 5,
 '1 foot, 11 inches to 2 feet, 3 inches tall at the shoulder': 4,
 '8 to 11 inches tall at the shoulder': 4,
 '10 to 11 inches tall at the shoulder': 4,
 '17 to 19 inches tall at the shoulder': 4,
 '13 to 15 inches tall at the shoulder': 4,
 '22 to 26 inches': 4,
 '19 to 24 inches': 3,
 '18 to 24 inches': 3,
 '23 to 28 inches': 3,
 '22 to 26 inches tall at the shoulder': 3,
 '12 to 15 inches ': 3,
 'Up to 10 inches tall at the shoulder': 3,
 '10 to 15 inches': 3,
 '21 to 27 inches': 3,
 '19 to 22 inches': 3,
 '15 to 20 inches': 3,
 '18 to 25 inches': 3,
 '1 foot, 5 inches to 1 foot, 8 inches tall at the shoulder': 3,
 '22 to 27 inches tall at the shoulder': 3,
 '8 to 12 inches': 3,
 '10 to 14 inches': 3,
 '16 to 22 inches': 3,
 '12 to 16 inches': 3,
 '7 to 11 inches': 3,
 '10 to 16 inches': 3,
 '17 to 22 inches': 3,
 '10 to 12 inches tall at the shoulder': 3,
 '9 to 11 inches': 3,
 '24 to 30 inches': 3,
 '9 to 11 inches tall at the shoulder': 3,
 '28 to 34 inches': 3,
 '14 to 16 inches tall at the shoulder': 3,
 'From 10 inches tall at the shoulder': 2,
 '20 to 24 inches tall at the shoulder': 2,
 '7 to 12 inches tall at the shoulder': 2,
 '12 to 15 inches tall at the shoulder': 2,
 '1 foot, 4 inches to 1 foot, 7 inches tall at the shoulder': 2,
 '8 to 15 inches': 2,
 '12 to 25 inches': 2,
 '10 to 15 inches tall at the shoulder': 2,
 '18 to 22 inches tall at the shoulder': 2,
 '1 foot, 10 inches to 2 feet, 2 inches tall at the shoulder': 2,
 '23 to 28 inches tall at the shoulder': 2,
 '12 to 14 inches tall at the shoulder': 2,
 '6 to 14 inches': 2,
 '25 to 27 inches tall at the shoulder': 2,
 '8 to 23 inches': 2,
 '21 to 25 inches': 2,
 '20 to 27 inches tall at the shoulder': 2,
 '7 to 12 inches': 2,
 '21 to 27 inches tall at the shoulder': 2,
 '6 to 10 inches': 2,
 '24 to 26 inches': 2,
 '19 to 20 inches tall at the shoulder': 2,
 '13 to 14 inches tall at the shoulder': 2,
 '19 to 24 inches tall at the shoulder': 2,
 '9 to 15 inches': 2,
 '21 to 24 inches at the shoulder': 2,
 '16 to 21 inches': 2,
 '16 to 20 inches': 2,
 '24 to 27 inches tall at the shoulder': 2,
 '24 to 27 inches': 2,
 '9 to 15 inches ': 2,
 '18 to 20 inches tall at the shoulder': 2,
 '15 to 23 inches': 2,
 '21 to 24 inches tall at the shoulder': 2,
 '20 to 28 inches': 2,
 '9 to 12 inches': 2,
 '19 to 23 inches': 2,
 '19 to 22 inches tall at the shoulder': 2,
 '22 to 25 inches ': 2,
 '12 to 20 inches': 2,
 '17 to 20 inches': 2,
 '22 to 27 inches': 2,
 '16 to 17 inches tall at the shoulder': 2,
 '28 to 36 inches': 2,
 '23 to 25 inches': 2,
 '24 to 32 inches': 2,
 '24 to 34 inches': 2,
 '11 to 17 inches': 2,
 '1 foot, 9 inches to 2 feet, 1 inch tall at the shoulder': 2,
 '23 to 26 inches tall at the shoulder': 2,
 '10 to 18 inches': 2,
 '13 to 16 inches tall at the shoulder': 2,
 '15 to 16 inches tall at the shoulder': 2,
 '6 to 12 inches': 2,
 '21 to 25 inches tall at the shoulder': 2,
 '17 to 21 inches': 1,
 '21 to 24 inches': 1,
 '15 to18 inches': 1,
 '8 to 10 inches tall at the shoulder': 1,
 '26 to 30 inches tall at the shoulder': 1,
 '1 foot, 1 inch to 1 foot, 3 inches tall at the shoulder': 1,
 '14 to 27 inches': 1,
 '20 to 24 inches ': 1,
 '9 to 13 inches': 1,
 '25 to 31 inches tall at the shoulder': 1,
 '17 to 24 inches': 1,
 '22.5 to 26.5 inches': 1,
 '26 to 35 inches': 1,
 '14 to 19 inches': 1,
 '15 to 21 inches tall at the shoulder': 1,
 '16 to 20 inches ': 1,
 '1 foot, 6 inches to 1 foot, 11 inches tall at the shoulder': 1,
 '26 to 34 inches tall at the shoulder': 1,
 '7 to 15 inches tall at the shoulder': 1,
 '25 to 32 inches tall at the shoulder': 1,
 '20 to 23 inches': 1,
 '2 feet, 1 inch to 2 feet, 6 inches tall at the shoulder': 1,
 '19 to 21 inches tall at the shoulder': 1,
 '18 to 22 Inches': 1,
 '23 to 29 inches': 1,
 '16 to 18 inchestall at the shoulder': 1,
 '2 feet, 1 inch to 2 feet, 3 inches tall at the shoulder': 1,
 '25 to 31 inches ': 1,
 '14 to 15 inches tall at the shoulder': 1,
 '1 foot, 9 inches to 2 feet tall at the shoulder': 1,
 '32 to 35 inches tall at the shoulder': 1,
 '16 to 24 inches tall at the shoulder': 1,
 '8 to 11 inches at the shoulder': 1,
 '13 to 16 inches': 1,
 '2 feet to 2 feet, 2 inches tall at the shoulder': 1,
 '24 to 29 inches tall at the shoulder': 1,
 '11 inches to 1 foot, 1 inch tall at the shoulder': 1,
 '19Â½ to 21 inches for males and 18Â½ to 20 inches for females': 1,
 '27 to 32 inches tall at the shoulder': 1,
 '18 to 23.5 inches': 1,
 '21 to 26 inches': 1,
 '16 to 25 inches ': 1,
 '10 to 26 inches tall at the shoulder': 1,
 '1 foot, 11 inches to 2 feet, 4 inches tall at the shoulder': 1,
 '8 to 10 inches': 1,
 '6 to 11 inches ': 1,
 '1 foot, 7 inches to 2 feet tall at the shoulder': 1,
 '2 feet, 2 inches to 2 feet, 6 inches tall at the shoulder': 1,
 'From 10 to over 22 inches tall at the shoulder': 1,
 '21.5 to 23.5 inches': 1,
 '15 to 30 inches': 1,
 '12 to 27 inches': 1,
 '22.5 to 29 inches': 1,
 '20 to 22 inches': 1,
 '16 to 22 inches ': 1,
 '1 foot, 5 inches to 1 foot, 11 inches tall at the shoulder': 1,
 '10 to 14 inches tall at the shoulder': 1,
 '25 to 29 inches': 1,
 '15 to 32 inches': 1,
 '24 to 31 inches': 1,
 '28 to 32 inches tall at the shoulder': 1,
 '6 to 9 inches tall at the shoulder': 1,
 '8 to 14 inches tall at the shoulder': 1,
 'Up to 11 inches tall at the shoulder': 1,
 ' 23.5 to 28.5 inches': 1,
 '4 to 8 inches': 1,
 '16 to 26 inches': 1,
 '10 to 22 inches': 1,
 '14 to 20 inches': 1,
 '24 to 31 inches tall at the shoulder': 1,
 '20 to 23 inches tall at the shoulder': 1,
 '2 feet, 1 inch to 2 feet, 5 inches tall at the shoulder': 1,
 '23 to 32 inches': 1,
 '16 to 18 inches tall at the shoulder': 1,
 '21 to 29 inches': 1,
 '1 foot to 1 foot, 3 inches tall at the shoulder': 1,
 '26 to 30 inches ': 1,
 '8 to 18 inches ': 1,
 '13 to 17 inches tall at the shoulder': 1,
 '1 foot, 5 inches to 1 foot, 9 inches tall at the shoulder': 1,
 'From 21 inches tall at the shoulder': 1,
 '10 to 11 inches': 1,
 '20 to 25 inches': 1,
 '20 to 29 inches': 1,
 '22 to 26 inches all at the shoulder': 1,
 '20 to 26 inches': 1,
 '23 to 30 inches tall at the shoulder': 1,
 'Up to 14 inches tall at the shoulder': 1,
 '17 to 20 inches.': 1,
 '12 to 16 inches ': 1,
 '20 to 22 inches tall at the shoulder': 1,
 '21 to 26 inches tall at the shoulder': 1,
 'From 10 to 29 inches tall at the shoulder, as sizes vary from tiny to standard': 1,
 '16 to 25 inches': 1,
 '26 to 28 inches at the shoulder': 1,
 '23 to 27 inches ttall at the shoulder': 1,
 '17 to 25 inches': 1,
 '12 to 17 inches ': 1,
 '14 to 18 inches': 1,
 '9 to 12 inches tall at the shoulder': 1,
 '12 to 22 inches': 1,
 '26 to 32 inches tall at the shoulder': 1,
 '21 to 25 inches at the shoulder': 1,
 '10 to 25 inches': 1,
 '19 to 25 inches': 1,
 '14 to 18 inches tall at the shoulder': 1,
 '18 to 23 inches.': 1,
 '18.5 to 27 inches': 1,
 '22 to 30 inches.': 1,
 '12 to 15 inches. ': 1,
 '13 to 20 inches': 1,
 '20 to 25 inches tall at the shoulder': 1,
 '17 to 23 inches': 1,
 '10 to 20 inches': 1,
 '7 to 11 inches ': 1,
 '8 to 11 inches': 1,
 '10 to 26 inches ': 1,
 '24 to 26 inches tall at the shoulder': 1,
 '23 to 26 inches': 1,
 '19 to 23': 1,
 '21 to 23 inches tall at the shoulder': 1,
 '27 to 34 inches': 1,
 '2 feet to 2 feet, 4 inches tall at the shoulder': 1,
 '15 to 28 inches': 1,
 '16 to 23 inches': 1,
 '13 to 17 inches': 1,
 '1 foot, 11 inches to 2 feet, 1 inch tall at the shoulder': 1,
 '15 to 19 inches tall at the shoulder': 1,
 '21 to 27 Inches.': 1,
 '16 to 19 inches': 1,
 '1 foot, 3 inches to 1 foot, 6 inches tall at the shoulder': 1,
 '2 feet, 3 inches to 2 feet, 5 inches tall at the shoulder': 1,
 '10 to 13 inches': 1,
 '18 to 23 inches tall at the shoulder': 1,
 '7 to 8 inches tall at the shoulder': 1,
 '16 to 18 inches': 1,
 '22 to 24 inches tall at the shoulder': 1,
 '1 foot, 3 inches to 1 foot, 5 inches tall at the shoulder': 1,
 '8 to 12 inches tall at the shoulder': 1,
 '15 to 25 inches': 1,
 '8 inches to 9 inches tall at the shoulder': 1,
 '27 to 33 inches': 1,
 '18 to 21 inches': 1,
 '24 to 28 inches tall at the shoulder': 1,
 '23 to 27 inches': 1,
 '9 to12 inches': 1,
 '5 to 10 inches': 1,
 '5 to 15 inches': 1,
 '1 foot, 6 inches to 1 foot, 10 inches tall at the shoulder': 1,
 '21 to 22 inches tall at the shoulder': 1,
 '16 to 20 inches tall at the shoulder': 1,
 '20 to 24 Inches': 1,
 '15 to 20 inches tall at the shoulder': 1,
 '1 foot, 10 inches to 2 feet tall at the shoulder': 1,
 'Up to 15 inches tall at the shoulder': 1,
 '11 to 12 inches tall at the shoulder': 1,
 '21 to 24 inches.': 1,
 '11 to 14 inches': 1,
 '17 to 26 inches ': 1,
 '20 to 27 inches ': 1,
 '12 to 23 inches ': 1,
 '22 to 24 inches': 1,
 '1 foot, 2 inches to 1 foot, 3 inches tall at the shoulder': 1,
 'From under 10 to over 15 inches tall at the shoulder': 1,
 '17 to 20 inches ': 1,
 '24 to 27 inches at the shoulder': 1,
 '11 to 24 inches': 1,
 '10 inches to 1 foot tall at the shoulder': 1,
 '18 to 20 inches at the shoulder': 1,
 '20 to 26 inches tall at the shoulder': 1,
 '10 to 17 inches': 1,
 '12 to 13 inches ': 1,
 '12 to 13 inches at the shoulder': 1,
 '9 to 14 inches': 1,
 '10 to 13 inches tall at the shoulder': 1,
 '9 to 14 inches ': 1,
 '1 foot, 9 inches to 2 feet, 2 inches tall at the shoulder': 1,
 '5 to 12 inches': 1,
 '5 to 15 inches ': 1,
 '6 inches to 9 inches tall at the shoulder': 1,
 '11 to 13 inches tall at the shoulder': 1,
 '5 to 11 inches': 1,
 '8 to 12 inches ': 1,
 '6 to 9 inches ': 1,
 '18 to 23 inches': 1,
 '8 to 9 inches tall at the shoulder': 1}

In [7]:
df['Weight'].value_counts().to_dict()

{'40 to 65 pounds': 6,
 '40 to 60 pounds': 6,
 '10 to 20 pounds': 5,
 '50 to 90 pounds': 5,
 '30 to 60 pounds': 4,
 '40 to 80 pounds': 4,
 '50 to 70 pounds': 4,
 '45 to 80 pounds': 4,
 '25 to 40 pounds': 4,
 '35 to 55 pounds': 4,
 '30 to 40 pounds': 4,
 '60 to 70 pounds': 4,
 '25 to 45 pounds': 4,
 '30 to 50 pounds': 3,
 '75 to 100 pounds': 3,
 '55 to 80 pounds': 3,
 '30 to 45 pounds': 3,
 '8 to 14 pounds': 3,
 '10 to 30 pounds': 3,
 '40 to 55 pounds': 3,
 '18 to 30 pounds': 3,
 '35 to 60 pounds': 3,
 '10 to 25 pounds': 3,
 '40 to 70 pounds': 3,
 '50 to 65 pounds': 3,
 '35 to 45 pounds': 3,
 '45 to 70 pounds': 3,
 '45 to 55 pounds': 3,
 '45 to 65 pounds': 3,
 '70 to 100 pounds': 3,
 '55 to 85 pounds': 3,
 '80 to 100 pounds': 3,
 '60 to 80 pounds': 3,
 '50 to 60 pounds': 3,
 '70 to 115 pounds': 3,
 '17 to 23 pounds': 2,
 '7 to 12 pounds': 2,
 '25 to 50 pounds': 2,
 '22 to 55 pounds': 2,
 '50 to 75 pounds': 2,
 '7 to 13 pounds': 2,
 '3 to 7 pounds': 2,
 '40 to 75 pounds': 2,
 '55 to 110 pounds': 2,
 '45 to 50 pounds': 2,
 '4 to 9 pounds': 2,
 '11 to 20 pounds': 2,
 '20 to 35 pounds': 2,
 '55 to 75 pounds': 2,
 '15 to 28 pounds': 2,
 '60 to 100 pounds': 2,
 '65 to 100 pounds': 2,
 '100 to 150 pounds': 2,
 '45 to 90 pounds ': 2,
 '5 to 12 pounds': 2,
 '5 to 15 pounds ': 2,
 '55 to 70 pounds': 2,
 'Up to 12 pounds': 2,
 '6 to 12 pounds': 2,
 '4 to 11 pounds': 2,
 '13 to 18 pounds': 2,
 '35 to 75 pounds': 2,
 '45 to 60 pounds': 2,
 '7 to 12 lbs': 2,
 '33 to 55 pounds': 2,
 '75 to 120 pounds': 2,
 '20 to 30 pounds': 2,
 '48 to 55 pounds': 2,
 '30 to 85 pounds': 2,
 '9 to 15 pounds': 2,
 '4 to 12 pounds': 2,
 '10 to 15 pounds': 2,
 '80 to 120 lbs': 2,
 '22 to 24 pounds': 2,
 '120 to 170 pounds': 1,
 '50 to 125 pounds ': 1,
 'Up to 20 pounds': 1,
 '13 to 15 pounds': 1,
 '55 to 77 pounds': 1,
 '80 to 200 pounds': 1,
 '9 to 18 pounds': 1,
 'Up to 7 pounds': 1,
 '12 to 15 pounds': 1,
 '13 to 20 pounds': 1,
 '24 to 35 pounds': 1,
 '5 to 20 pounds': 1,
 '12 to 22 pounds': 1,
 '85 to 160 pounds ': 1,
 '60 to 110 pounds': 1,
 '130 to 220 pounds': 1,
 '8 to 11 pounds': 1,
 '18 to 29 pounds': 1,
 '120 to 200 pounds': 1,
 '20 to 24 pounds': 1,
 '11 to 12 pounds': 1,
 '26 to 40 pounds': 1,
 '13 to 16 pounds': 1,
 '35 to 50 pounds': 1,
 '15 to 17 pounds': 1,
 '35 to 80 pounds': 1,
 '100 to 180 pounds': 1,
 '13 to 22 pounds': 1,
 '3 to 14 pounds': 1,
 '7 to 30 pounds': 1,
 '45 to 65 Pounds': 1,
 '20 to 50 pounds': 1,
 '10 to 50 pounds': 1,
 '50 to 75 pounds ': 1,
 '28 to 60 pounds': 1,
 '25 to 27 pounds': 1,
 '115 to 180 pounds': 1,
 '6 to 15 pounds': 1,
 '13 to 25 pounds': 1,
 '8 to 18 pounds': 1,
 '13 to 17 pounds': 1,
 '17 to 22 pounds': 1,
 '35 - 60 pounds': 1,
 '90 to 150 pounds': 1,
 '44 to 50 pounds': 1,
 '33 to 40 pounds': 1,
 '20 to 45 pounds': 1,
 '75 to 150 pounds ': 1,
 '20 to 25 pounds': 1,
 '22 to 31 pounds': 1,
 '6 to 14 pounds': 1,
 '65 to 110 pounds': 1,
 '18 to 48 pounds': 1,
 '75 to 160 pounds': 1,
 '38 to 130 pounds': 1,
 '10 to 14 pounds': 1,
 '22 to 35 pounds': 1,
 '20 to 55 pounds': 1,
 '25 to 35 pounds': 1,
 '70 to 80 pounds': 1,
 '4 to 16 pounds ': 1,
 '80 to 130 pounds ': 1,
 '9 to 16 pounds': 1,
 '130 to 200 pounds': 1,
 '25 to 30 pounds': 1,
 '8 to 18 pounds ': 1,
 '77 to 132 pounds': 1,
 '70 to 85 pounds': 1,
 '60 to 90 pounds': 1,
 '85 to 130 pounds': 1,
 'Starts at 20 pounds': 1,
 '3 to 6 lbs': 1,
 '4.5 to 11 pounds': 1,
 '40 to 180 pounds': 1,
 '120 to 180 pounds': 1,
 '45 to 88 pounds ': 1,
 '40 to 62 pounds': 1,
 '35 to 70 pounds': 1,
 '18 to 22 pounds': 1,
 '26 to 55 pounds': 1,
 '11 to 18 pounds': 1,
 '75 to 110 pounds': 1,
 '7 to 18 pounds': 1,
 '14 to 18 pounds': 1,
 '8 to 10 pounds': 1,
 '30 to 80 pounds ': 1,
 '30 to 45 pounds ': 1,
 '20 to 75 pounds': 1,
 '24 to 38 pounds': 1,
 '11 to 13 pounds ': 1,
 '4 to 20 pounds': 1,
 '61 to 86 pounds': 1,
 '140 to 220 pounds': 1,
 '7 to 14 pounds': 1,
 '33 to 44 pounds': 1,
 'Up to 30 pounds': 1,
 '80 to 130 pounds': 1,
 '7 to 15 pounds': 1,
 '37 to 59 pounds ': 1,
 '45 to 75 pounds': 1,
 '5 to 15 pounds': 1,
 '5 to 25 pounds ': 1,
 '68 to 100 pounds': 1,
 '40 to 63 pounds': 1,
 '7 to 38 pounds': 1,
 '6 to 17 pounds ': 1,
 '6 to 70 pounds': 1,
 '55 to 62 pounds': 1,
 '9 to 13 pounds': 1,
 '35 to 59 pounds': 1,
 '85 to 100 pounds': 1,
 '5 to 30 pounds': 1,
 '50 to 85 pounds': 1,
 '40 to 95 pounds': 1,
 '25 to 46 pounds': 1,
 '25 to 60 pounds': 1,
 '35 to 51 pounds': 1,
 '14 to 16 pounds': 1,
 '46 to 60 pounds': 1,
 '37 to 62 pounds': 1,
 '25 to 35 pounds. ': 1,
 '44 to 55 pounds. ': 1,
 '44 to 66 pounds': 1,
 '60 to 75 pounds': 1,
 'From 10 to 90 pounds': 1,
 '4 to 8 pounds': 1,
 '80 to 140 pounds': 1,
 '80 to 150 pounds': 1,
 '80 to 110 pounds': 1,
 '45 to 100 pounds': 1,
 '20 to 30 pounds ': 1,
 '110 to 200 pounds': 1,
 '10 to 40 pounds': 1,
 '11 to 15 pounds': 1,
 '55 to 105 pounds': 1,
 '50 to 110 pounds': 1,
 '12 to 70 pounds': 1,
 '55 to 90 pounds': 1,
 '35 to 55 pounds.': 1,
 '90 to 150 pounds. ': 1,
 '25 to 70 pounds': 1,
 '25 to 70 pounds ': 1,
 '35 to 65 pounds ': 1,
 '30 to 45 lbs': 1,
 '7 to 14 lbs': 1,
 '15 to 20 lbs': 1,
 '8 to 13lbs': 1,
 '7 to 9 pounds': 1,
 '10 to 25 lbs': 1,
 '7 to 16 lbs': 1,
 '4 to 9 lbs': 1,
 '7 to 10 lbs': 1,
 '10 to 70 lbs': 1,
 '50 to 65 lbs': 1,
 '50 to 70lbs': 1,
 '45 to 60 lbs': 1,
 '45 to 55 lbs': 1,
 '35 to 75 pounds. ': 1,
 '75 to 140 pounds': 1,
 '70 to 100 lbs': 1,
 '70 to 130 pounds': 1,
 '50 to 90 lbs': 1,
 '90 to 175 lbs': 1,
 '88 to 145 pounds': 1,
 '30 to 70 pounds': 1,
 '85 to 115 lbs': 1,
 '50 to 70 lbs': 1,
 '60 to 120 pounds': 1,
 'Starts at 30 pounds': 1,
 '10 to 16 pounds': 1,
 '60 to 95 pounds': 1,
 '50 to 80 pounds': 1,
 '50 to 80 pounds ': 1,
 '15 to 25 pounds': 1,
 '60 to 80 lbs': 1,
 '11 to 30 pounds': 1,
 '35 to 40 pounds': 1,
 '26 to 34 pounds': 1,
 '75 to 130 pounds': 1,
 '40 to 71 lbs': 1,
 '37 to 45 pounds': 1,
 '90 to 180 pounds': 1,
 '33 to 53 pounds': 1,
 '15 to 19 pounds': 1,
 '16 to 28 pounds': 1,
 '45 to 60 pounds.': 1,
 '60 to 71 pounds': 1,
 '20 to 30 Pounds ': 1,
 '75 to 95 pounds': 1,
 '30 to 90 pounds ': 1,
 '75 to 115 pounds': 1,
 '60 to 95 pounds ': 1,
 '21 to 29 pounds': 1,
 'Up to 35 pounds': 1,
 '45 to 90 pounds': 1,
 '30 to 75 pounds': 1,
 '55 to 85 pounds ': 1,
 '100 to 200 pounds': 1,
 '85 to 160 pounds': 1,
 '85 to 140 pounds': 1,
 'Starts at 100 pounds': 1,
 '15 to 20 pounds': 1,
 '40 to 50 pounds': 1,
 '3 to 6 pounds': 1,
 '100 to 130 pounds': 1,
 '41 to 65 pounds': 1,
 '13 to 14 pounds': 1,
 '90 to 120 pounds': 1,
 '25 to 38 pounds': 1,
 '80 to 220 pounds': 1,
 '15 to 35 pounds ': 1,
 '9 to 25 pounds': 1,
 '88 to 110 pounds ': 1,
 '13 to 30 pounds': 1,
 '9 to 20 pounds ': 1,
 '5 to 20 pounds ': 1,
 '8 to 15 pounds ': 1,
 '115 to 190 pounds': 1,
 '17 to 26 pounds': 1,
 '10 to 28 pounds': 1,
 'From under 6 to over 19 pounds': 1,
 '24 to 28 pounds': 1,
 '17 to 27 pounds': 1,
 '40 to 55 pounds ': 1,
 '20 to 70 pounds': 1,
 '8 to 13 pounds': 1,
 '29 to 45 pounds': 1,
 '44 to 57 pounds': 1,
 '16 to 32 pounds': 1,
 '18 to 24 pounds': 1,
 '4 to 6 pounds': 1}

## Nan count

In [8]:
nans_in_df = df.isna().sum()
nans_in_df

name                               0
href                               0
ADAPTABILITY                       0
Adapts Well To Apartment Living    0
Good For Novice Owners             0
Sensitivity Level                  0
Tolerates Being Alone              0
Tolerates Cold Weather             0
Tolerates Hot Weather              0
ALL AROUND FRIENDLINESS            0
Affectionate With Family           0
Kid-Friendly                       0
Dog Friendly                       0
Friendly Toward Strangers          0
HEALTH AND GROOMING NEEDS          0
Amount Of Shedding                 0
Drooling Potential                 3
Easy To Groom                      0
General Health                     0
Potential For Weight Gain          1
Size                               0
TRAINABILITY                       0
Easy To Train                      0
Intelligence                       0
Potential For Mouthiness           1
Prey Drive                         1
Tendency To Bark Or Howl           1
Wanderlust Potential               0
PHYSICAL NEEDS                     0
Energy Level                       0
Intensity                          0
Exercise Needs                     0
Potential For Playfulness          0
Dog Breed Group                    0
Height                             1
Weight                             6
Life Span                          0
dtype: int64

# Data cleaning

### Drop redundant columns

In [9]:
df = df.drop(['href', 'ADAPTABILITY', 'ALL AROUND FRIENDLINESS', 'HEALTH AND GROOMING NEEDS',
              'TRAINABILITY', 'PHYSICAL NEEDS'], axis=1)

### Change some columns dtype

In [10]:
columns_to_change = ["Drooling Potential", "Potential For Weight Gain", "Potential For Mouthiness",
                     "Prey Drive", "Tendency To Bark Or Howl", "Tendency To Bark Or Howl"]
df = df.astype({column: pd.Int64Dtype() for column in columns_to_change})

# Split and clean columns that have to be splited

In [11]:
re_pattern = "(\d+\.\d+|\d+)" # find ints and floats

## Life Span

In [12]:
def split_life_span_to_min_max_life_expectancy(life_span_string):
    
    life_span_string = life_span_string.split('. ')[0]
    
    if re.search(r'Up to', life_span_string):
        min_life_expectancy = None
        max_life_expectancy = int(re.findall(re_pattern, life_span_string)[0])
    elif re.search(r'Starts', life_span_string):
        min_life_expectancy = int(re.findall(re_pattern, life_span_string)[0])
        max_life_expectancy = None
    else:
        split_char = '-' if '-' in life_span_string else 'to'
        
        min_string, max_string = life_span_string.split(split_char)
        
        min_life_expectancy = int(re.findall(re_pattern, min_string)[0])
        max_life_expectancy = int(re.findall(re_pattern, max_string)[0])
    
    return min_life_expectancy, max_life_expectancy

In [13]:
df['Min Life Expectancy'], df['Max Life Expectancy'] = zip(*df['Life Span'].map(split_life_span_to_min_max_life_expectancy))

In [14]:
df[['Life Span', 'Min Life Expectancy', 'Max Life Expectancy']]

          Life Span  Min Life Expectancy  Max Life Expectancy
0    10 to 12 years                 10.0                 12.0
1    10 to 12 years                 10.0                 12.0
2    10 to 14 years                 10.0                 14.0
3    10 to 15 years                 10.0                 15.0
4    13 to 15 years                 13.0                 15.0
..              ...                  ...                  ...
434  12 to 15 years                 12.0                 15.0
435  14 to 20 years                 14.0                 20.0
436  10 to 12 years                 10.0                 12.0
437  10 to 15 years                 10.0                 15.0
438  12 to 15 years                 12.0                 15.0

[439 rows x 3 columns]

In [15]:
df = df.drop('Life Span', axis=1)

## Height

In [16]:
df['Height'] = df['Height'].map(lambda x: x if x == "nan" or isinstance(x, float) else x.replace('Â½','.5'))

In [17]:
def split_height_to_min_max_height(height_string):
    split_char = 'to'
    
    def transform_to_height_in_inches(string):
        nums_in_string = re.findall(re_pattern, string)
        
        if len(nums_in_string) == 2: # found values for feet and inches
            return float(nums_in_string[0])*12 + float(nums_in_string[1])
        else:
            if re.search(r'(foot|feet)', string):
                return float(nums_in_string[0]) * 12
            else:
                return float(nums_in_string[0])
        
    if type(height_string) == float or height_string == "nan": ## check if nan
        return None, None    
    
    if re.search(r'(males|females)', height_string):
        height_string = re.sub(r'(males|females)', '', height_string)
        male_height_string, female_height_string = height_string.split('and')
        
        male_min_height, male_max_height = split_height_to_min_max_height(male_height_string)
        female_min_height, female_max_height = split_height_to_min_max_height(female_height_string)
        
        max_height = (male_max_height + female_max_height)/2
        min_height = (male_min_height + female_min_height)/2
        
    elif re.search(r'Up to', height_string):
        min_height = None
        max_height = transform_to_height_in_inches(height_string)
        
    elif re.search(r'From', height_string) and len(height_string.split(split_char)) == 1:
        max_height = None
        min_height = transform_to_height_in_inches(height_string)
    else:
        min_string, max_string = height_string.split(split_char)[:2]
        
        min_height = transform_to_height_in_inches(min_string)
        max_height = transform_to_height_in_inches(max_string)
            
    return min_height, max_height

In [18]:
df['Min Height'], df['Max Height'] = zip(*df['Height'].map(split_height_to_min_max_height))

In [19]:
df[['Height', 'Min Height', 'Max Height']]

                                                Height  Min Height  Max Height
0                                      20 to 29 inches        20.0        29.0
1                                      22 to 24 inches        22.0        24.0
2                                      10 to 16 inches        10.0        16.0
3                                      10 to 20 inches        10.0        20.0
4                                       9 to 11 inches         9.0        11.0
..                                                 ...         ...         ...
434                                    18 to 25 inches        18.0        25.0
435  1 foot, 6 inches to 1 foot, 11 inches tall at ...        18.0        23.0
436                                    20 to 23 inches        20.0        23.0
437                7 to 15 inches tall at the shoulder         7.0        15.0
438                 8 to 9 inches tall at the shoulder         8.0         9.0

[439 rows x 3 columns]

In [20]:
df = df.drop('Height', axis=1)

## Weight

In [21]:
def split_weight_to_min_max_weight(weight_string):
    
    if type(weight_string) == float: ## check if nan
        return None, None
    
    if re.search(r'Up to', weight_string):
        min_string = None
        max_string = weight_string
    elif re.search(r'(Starts|From)', weight_string):
        max_string = None
        min_string = weight_string
    else:
        split_char = '-' if '-' in weight_string else 'to'
        
        min_string, max_string = weight_string.split(split_char)
    
    strings = [min_string, max_string]
    values = []
    for string in strings:
        if string:
            val = float(re.findall(re_pattern, string)[0])
        else:
            val = None
        values.append(val)
        
    min_weight, max_weight = values
            
    return min_weight, max_weight

In [22]:
df['Min Weight'], df['Max Weight'] = zip(*df['Weight'].map(split_weight_to_min_max_weight))

In [23]:
df[['Weight', 'Min Weight', 'Max Weight']]

              Weight  Min Weight  Max Weight
0    50 to 75 pounds        50.0        75.0
1       60 to 80 lbs        60.0        80.0
2        7 to 14 lbs         7.0        14.0
3       15 to 20 lbs        15.0        20.0
4         8 to 13lbs         8.0        13.0
..               ...         ...         ...
434  28 to 60 pounds        28.0        60.0
435  10 to 50 pounds        10.0        50.0
436  40 to 55 pounds        40.0        55.0
437   3 to 14 pounds         3.0        14.0
438    4 to 6 pounds         4.0         6.0

[439 rows x 3 columns]

In [24]:
df = df.drop('Weight', axis=1)

# Final effect

In [25]:
df.head()

,name,Adapts Well To Apartment Living,Good For Novice Owners,Sensitivity Level,Tolerates Being Alone,Tolerates Cold Weather,Tolerates Hot Weather,Affectionate With Family,Kid-Friendly,Dog Friendly,...,Intensity,Exercise Needs,Potential For Playfulness,Dog Breed Group,Min Life Expectancy,Max Life Expectancy,Min Height,Max Height,Min Weight,Max Weight
0,Afador,1,1,3,3,4,2,4,2,3,...,4,4,3,Mixed Breed Dogs,10.0,12.0,20.0,29.0,50.0,75.0
1,Afaird,2,2,3,2,4,2,5,4,4,...,4,5,5,Mixed Breed Dogs,10.0,12.0,22.0,24.0,60.0,80.0
2,Affen Border Terrier,3,3,3,4,3,2,5,2,5,...,3,4,5,Mixed Breed Dogs,10.0,14.0,10.0,16.0,7.0,14.0
3,Affen Spaniel,4,4,2,3,3,2,5,5,5,...,2,3,5,Mixed Breed Dogs,10.0,15.0,10.0,20.0,15.0,20.0
4,Affen Tzu,5,3,4,1,2,1,5,5,5,...,4,2,4,Mixed Breed Dogs,13.0,15.0,9.0,11.0,8.0,13.0

In [26]:
df.to_csv('cleaned_dogs_data.csv', index=False)